@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-tell {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-tg {
	font-size:math.div(500,10)*1rem;
	width: math.div(437.5,500)*1em;
}
.icon-vb {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-wa {
	font-size:math.div(500,10)*1rem;
	width: math.div(437.5,500)*1em;
}
