@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(8,10)*1rem;
	width: math.div(10,8)*1em;
}
.icon-check2 {
	font-size:math.div(10,10)*1rem;
	width: math.div(14,10)*1em;
}
.icon-in {
	font-size:math.div(500,10)*1rem;
	width: math.div(437.5,500)*1em;
}
.icon-sWhy-1 {
	font-size:math.div(500,10)*1rem;
	width: math.div(281.25,500)*1em;
}
.icon-sWhy-2 {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-sWhy-3 {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-sWhy-4 {
	font-size:math.div(444.44,10)*1rem;
	width: math.div(500,444.44)*1em;
}
.icon-soap {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-tell {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-tg {
	font-size:math.div(500,10)*1rem;
	width: math.div(437.5,500)*1em;
}
.icon-vb {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-wa {
	font-size:math.div(500,10)*1rem;
	width: math.div(437.5,500)*1em;
}
