mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.bg-wrap.headerBlock-bg-js
			+pic('headerBlock-bg-2.png')
			+pic('headerBlock-bg-1.png')
		+e.container.container
			.row
				.col-lg-7
					+b.section-title
						h1
							span Клінінгова компанія
							strong Clean House
							span Миття вікон у Львові
						p Клінінгова компанія надає послуги миття вікон будь-якої форми та розміру. Всі роботи виконуються досвідченими та кваліфікованими майстрами, які зроблять роботу швидко та якісно.
						+e.btn.default-btn-js(href="#")
							span Замовити майстра
							+icon('soap')
				.col-lg-5
					//+pic('inventar.png')
			+e.row.row
				+headerBlockItem('Ціна', `від <span>400</span> грн`)
				+headerBlockItem('Консультація', `Безкоштовно`)
				+headerBlockItem('Термін', `до <span>2</span> днів`)
				+headerBlockItem('Передоплата', 'Без предоплаты')
	// end headerBlock

mixin headerBlockItem(title, txt)
	+e.i-col.col-6.col-sm-6.col-md-auto
		+e.item
			+e.sub-row.row.align-items-center
				.col-auto
					+e.ball
						+icon('check')
				.col
					+e.title=title
					+e.i-txt!=txt