mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.bg-wrap.headerBlock-bg-js
			+pic('headerBlock-bg-2.png')
			+pic('headerBlock-bg-1.png')
		.container
			+b.section-title
				h1 Миття вікон у Львові
			.row
						
	// end headerBlock