.toggle-menu-mobile {
	--h: #{em(2)};
	//--color: #{$white};
	--position: 10px;
	&.on span {
		--color: transparent;
	}

	&.on  {
		--position: 0;
		--rotate: 45deg;
	}
	display: block;
	height: 32px;
	position: relative;
	width: 32px;
	cursor: pointer;

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span {
		@include a-cent(y);
		display: block;
	}

	span:before {
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden;
		transform-origin: 50% 50%;
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: calc(var(--vh, 1vh) * 100);
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	background-color: $body-bg;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;
		.toggle-menu-mobile{
			opacity: 0;
		}
	}
	@include mt(.6s);
	will-change: transform;


	.toggle-menu-mobile {
		margin-left: -15%;
		position: absolute;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		span:after,
		span:before {
			--color: #FFF;
		}
	}
	&__inner {
		padding: rem(24) rem(20);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(.3s);
		transition-delay: .4s;
		opacity: var(--opacity);
	}

	.logo{
		margin-bottom: rem(20);
	}

	&.active {
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.menu {
		position: relative;
		margin: 0 0 rem(40);

		li {
			font-weight: 600;
			display: block;
			margin-bottom: rem(15);

			a {
				font-size: rem(18);
				color: lighten($body-color, 6);
				display: block;
			}
		}
	}

	.soc{
		margin-bottom: rem(15);
	}
	&__mail{
		display: inline-block;
		font-size: rem(14);
		font-weight: 300;
		line-height: calc(16/14);
		text-decoration-line: underline;
		color: currentColor!important;
		&:hover{
			opacity: .8;
		}
		margin-bottom: rem(4);
	}
	&__tel{
		display: block;
		font-weight: 700;
		font-size: rem(20);
		line-height: 1.1;
		color: currentColor!important;
		&:hover{
			opacity: .8;
		}
		margin-bottom: rem(30);
	}

	&__btn{
		width: 100%;
		@extend .default-btn;
	}
}