.top-nav {
	padding: rem(20) 0;
	@include media-breakpoint-up(lg){
		padding: rem(15) 0;
	}

	&__row{
		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(24)};
		}
	}

	.menu{
		list-style: none;
		padding: 0;
		margin: 0;

		display: flex;
		align-items: center;
		li{
			font-weight: 600;

			margin-right: rem(16);
			@include media-breakpoint-up(xxl){
				margin-right: rem(20);
			}
			&:last-child{
				margin-right: 0;
			}

			a{
				color: var(--menu-col);
				&:hover{
					color: $primary;
				}
			}
		}
	}


	&__mail{
		display: inline-block;
		font-size: rem(13);
		font-weight: 300;
		line-height: calc(16/14);
		text-decoration-line: underline;
		color: currentColor!important;
		&:hover{
			opacity: .8;
		}
		margin-bottom: rem(4);
	}
	&__tel{
		display: block;
		font-weight: 700;
		font-size: rem(20);
		line-height: 1.1;
		color: currentColor!important;
		&:hover{
			opacity: .8;
		}
	}

	&__btn{
		@extend .default-btn;

		&:hover{
			.icon{
				animation: swing ease-in-out .4s infinite alternate;
			}
		}

		.icon{
			@include media-breakpoint-down(lg){
				margin: 0;
			}
		}
	}


	&__{}
	&__{}
}

@keyframes swing {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

.logo{
	position: relative;
	top: rem(-3.5);
	display: flex;
	max-width: rem(150);
	text-align: left;
	img{
		width: rem(60);
		margin-right: rem(6);
	}

	line-height: 1.1;
	font-size: rem(20);
	font-weight: 700;
	color: currentColor!important;
	&__txt{
		position: relative;
		top: rem(7);
	}
}

.soc{
	display: flex;
	align-items: center;

	&__item{
		width: rem(32);
		height: rem(32);
		border-radius: 50%;
		background-color: $primary;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: rem(10);
		color: currentColor;
		&:hover{
			box-shadow: 1px 1px 10px -4px currentColor;
		}

		&.tg{
			background-color: #0088cc;
			.icon{
				position: relative;
				left: rem(-1);
			}
		}
		&.in{
			background: #f09433;
			background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
			background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
			background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

			.icon{

			}
		}
		&.vb{
			background-color: #665CAC;
		}
		&.wa{
			background-color: #25D366;
			.icon{
				position: relative;
				top: rem(-1);
			}
		}

		&:last-child{
			margin-right: 0;
		}

		.icon{
			color: $white;
			font-size: rem(20);
		}
	}
}