mixin sTrust(data)
	// start sTrust
	+b.SECTION.sTrust.section#sTrust&attributes(attributes)
		.container
			+b.section-title--lined
				h2 Довірте справу професіоналам
				p Чому варто довірити справу фахівцю?
			+e.c-row.row.flex-nowrap.align-items-center
				.col-md-8.col-lg-9
					+e.content
						p Кажуть, що вікна – це очі будинку. Тому хочеться, щоб вони завжди були чистими й охайними. Та якщо доглянути за вікнами в маленькій квартирці не так і складно, то у випадку великих офісів, торгових центрів чи просторих котеджів це завдання принесе чимало труднощів. І найбільш оптимальним рішенням тут буде скористатись послугами миття вікон.
						p
							| Очищення скляних поверхонь часто буває непростим та небезпечним завданням.
							|
							| Якісне миття вікон потребує кваліфікованих фахівців з відповідним досвідом та інвентарем.
							|
							| Завдання може ускладнюватися розмірами та фомою поверхні, обємом робіт, а також місцем свого розташування.
						p
							| Клінінгова компанія
							|
							span Clean House
							|
							| надає послуги миття вікон різної форми, розміру та степені забруднення.
				.col-md-4.col-lg-3.d-none.d-md-block
					+pic('inventar3.png')(class="sTrust__img")
			+e.sub-title В загальному роботу поділяють на 2 види:
			+e.row.row
				.col-md-6
					+e.l-title
						span Звичайне миття
						+e.price
							| від 30 грн/м
							sup 2
					+e.list
						ul
							li Очищення профілю та склопакету від пилу та бруду.
							li Очищення профілю та склопакету за допомогою спецзасобів.
							li Очищення профілю та склопакету від зайвої вотлоги.
							li Миття підвіконників.
				.col-md-6
					+e.l-title
						span Миття після ремонту
						+e.price
							| від 45 грн/м
							sup 2
					+e.list
						ul
							li Очищення залишків цементу, фарби та будівельних сумішей.
							li Зняття плівки з профілю.
							li Зняття коркових та паперових наклейок із склопакету.
							li Очищення профілю та склопакету від пилу та бруду.
							li Очищення профілю та склопакету за допомогою спецзасобів.
							li Очищення профілю та склопакету від зайвої вологи.
							li Миття підвіконників.
	// end sTrust