// start .header
.header {
	position: fixed;
	//-position: absolute;

	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;


	transition: color 0s ease-in-out, all .3s ease-in-out;
	border-bottom: 1px solid transparent;
	color: $white;
	--menu-col: #{rgba($white, .9)};
	--color: #{$white};
	&.fixed{
		--color: #{$primary};
		--menu-col: #{rgba($body-color, .95)};
		background-color: $white;
		color: $body-color;
		border-bottom: 1px solid $gray-400;
		box-shadow: 0 0 10px 1px rgba($black, .3);
	}
} // end.header